VITE_API_URL=http://localhost:5000/api
VITE_SOCKET_URL=http://localhost:5000
VITE_MODEL1_URL=http://localhost:5003
VITE_MODEL2_URL=http://localhost:5004
VITE_APP_NAME=RadiantSkincare
VITE_WEATHER_API_KEY=your_openweathermap_api_key
